@import "tailwindcss";

/* Light theme (default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-primary: #3b82f6;
  --button-secondary: #f3f2f1;
}

/* Dark theme */
:root.dark {
  --background: #181A1A;
  --foreground: #ededed;
  --button-primary: #3b82f6;
  --button-secondary: #4b5563;
}

/* Fallback for OS dark mode preference */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #181A1A;
    --foreground: #ededed;
    --button-primary: #3b82f6;
    --button-secondary: #4b5563;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: wave 1s ease-in-out infinite;
  transform-origin: 70% 70%;
}
